body {
    margin: 0;
    padding: 20px;
}

.topbox {
border: 4px black solid;
width: 100%;
padding: 20px;
box-sizing: border-box;
}

.purpsquare {
    height: 175px;
    width: 50px;
    background-color: rgb(139, 14, 129);
    display: inline-block;
    }

.greensquare {
height: 200px;
width: 400px;
background-color: green;
display: inline-block;
margin: 0 50px;
}

.bluecircle {
    height: 205px;
    width: 205px;
    background-color: lightblue;
    display: inline-block;
    border-radius: 150px;
}

.middlebox {
border: 4px black dotted;
height: 250px;
width: 100%;
padding: 20px;
margin-top: 20px;
box-sizing: border-box;
}

.shadowed {
height: 175px;    
width: 100%;
background-color: rgb(243, 234, 151);

-webkit-box-shadow: 10px 10px 5px -4px rgba(125,116,125,1);
-moz-box-shadow: 10px 10px 5px -4px rgba(125,116,125,1);
box-shadow: 10px 10px 5px -4px rgba(125,116,125,1);
}

.bottombox {
    border: 1px black solid;
    width: 50%;
    padding: 100px;
    box-sizing: border-box ;
    margin: 25px auto;

    -webkit-box-shadow: 10px 10px 5px -4px rgba(125,116,125,1);
-moz-box-shadow: 10px 10px 5px -4px rgba(125,116,125,1);
box-shadow: 10px 10px 5px -4px rgba(125,116,125,1);
}

.bottombox h1 {
    letter-spacing: 10px;
    text-align: center;
    color: blue;
    font-family: sans-serif;
}